---
layout: layouts/default
---

{% from "components/figure.njk" import figure %}

<h1>Tyrell Corporation Interrogation Room</h1>

<p>We are MOVING TOWARD the Tyrell Corporation across a vast plain of industrialization, menacing shapes on the horizon, stacks belching flames five hundred feet into the sky the color of cigar ash.  The CAMERA MOVES INTO a window in the large pyramid-shaped building.  A man is sitting at a table.  Another man enters the room and sits down.  The following scene is reflected in the eye until HOLDEN is seated.</p>


<h2>Tears in rain</h2>
<p>I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched c-beams glitter in the dark near the Tannhäuser Gate. All those moments will be lost in time, like tears in rain. It might be 2:00 a.m. but the joint is still crowded as noisy taxi drivers jostle each other for seats and jabber in Kangaroo, a crude lingual mix of Chinese, Japanese, French and Tagalog. Deckard is hunched over his bowl of noodles, slurping hungrily from his busy chopsticks.</p>

{{ figure("/static/img/unsplash.jpg", "Image form Unsplash", "Caption of the image") }}
