---
layout: layouts/default
permalink: components/
---

<h1>Components</h1>

<span>Image</span>
{% include 'components/image.njk' %}
<hr>
<span>Image with caption</span>
{% include 'components/figure.njk' %}
<hr>
