<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% include 'config/meta.njk' %}
    {% include 'config/favicon.njk' %}
    <title>{{ metadata.title }}</title>
  </head>
  <body>
  </body>
</html>
